html{
	color:#000;
	background:#FFF;
	}
body,div,section,article,header,nav,aside,footer,dl,dt,dd,
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,button,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
fieldset,img{
	border:0;
	}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
	font-style:inherit;
	font-weight:inherit;
	}
del,ins{
	text-decoration:none;
	}
li{
	list-style:none;
	font-family:"풕턼환쥌";
	}
caption,th{
	text-align:left;
	}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
	font-family:"풕턼환쥌";
	}
q:before,q:after{
	content:'';
	}
abbr,acronym{
	border:0;
	font-variant:normal;
	}
sup{
	vertical-align:baseline;
	}
sub{
	vertical-align:baseline;
	}
legend{
	color:#000;
	}
input,button,textarea,select,optgroup,option{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	font-family:"풕턼환쥌";
	}
input,button,textarea,select{
	*font-size:100%;
	font-family:"풕턼환쥌";
	}